<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>studyIdentifier</key>
	<string>null</string>
	<key>certificateName</key>
	<string>null</string>
	<key>emailForLoginViaExternalId</key>
	<string>nobody@null.org</string>
	<key>cacheDaysAhead</key>
	<integer>7</integer>
	<key>cacheDaysBehind</key>
	<integer>365</integer>
	<key>schemaMapping</key>
	<array>
		<dict>
			<key>schemaIdentifier</key>
			<string>HeartRate Measurement</string>
			<key>schemaRevision</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Cardio 12MT</string>
			<key>schemaRevision</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>schemaIdentifier</key>
			<string>Cardio Stair Step</string>
			<key>schemaRevision</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>taskMapping</key>
	<array>
		<dict>
			<key>taskIdentifier</key>
			<string>HeartRate Measurement</string>
			<key>resourceName</key>
			<string>HeartRate_Measurement</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Cardio Stress Test</string>
			<key>resourceName</key>
			<string>Cardio_Stress</string>
			<key>estimatedMinutes</key>
			<string>20</string>
			<key>title</key>
			<string>Cardiovascular stress test</string>
			<key>subtitle</key>
			<string>20 minutes</string>
			<key>icon</key>
			<string>cardioStressTestIcon</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Cardio 12MT</string>
			<key>resourceName</key>
			<string>Cardio_12MT</string>
			<key>estimatedMinutes</key>
			<string>15</string>
			<key>title</key>
			<string>12 minute test</string>
			<key>subtitle</key>
			<string>15 minutes</string>
			<key>icon</key>
			<string>active12MinuteRun</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Cardio Stair Step</string>
			<key>resourceName</key>
			<string>Cardio_Stair_Step</string>
			<key>estimatedMinutes</key>
			<string>5</string>
			<key>title</key>
			<string>Stair Step</string>
			<key>subtitle</key>
			<string>5 minutes</string>
			<key>icon</key>
			<string>stairStepClinicIcon</string>
		</dict>
		<dict>
			<key>taskIdentifier</key>
			<string>Background Survey</string>
			<key>resourceName</key>
			<string>Background_Survey</string>
			<key>estimatedMinutes</key>
			<string>3</string>
			<key>title</key>
			<string>Background and health survey</string>
			<key>icon</key>
			<string>demographicIcon</string>
		</dict>
	</array>
</dict>
</plist>
