<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CRF Module</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.sagebase.crfModuleApp.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>org.sagebase.crf-module</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>34</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app would like to access Bluetooth peripherals.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app would like to access your camera to measure your heart rate.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>This app would like to read your heath data.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This app would like to write to your health data.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app would like to access your location to track how far you run.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app would like to access your location to track how far you run.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app would like to access your microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app would like to access your motion sensors.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>healthkit</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
